@import '@economist/component-font-officina';
@import '@economist/component-palette';
@import './stats-list';

.country {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 836px;
}

.country__header {
  position: relative;
  border-bottom: 1px solid #979797;
  height: 41px;
  margin-bottom: 18px;
}

.country__header-text,
.country__header-icon {
  position: absolute;
}

.country__header-text {
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid var(--color-economist);
  font-family: 'Officina';
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;

  margin: 0;
  padding: 0;
}

.country__header-icon {
  right: 0;
}

.country__content {
  width: 55%;
}

.country__content > p {
  margin-top: 0;
}

.country__stats {
  width: 38%;
  float: right;
  margin-top: 15px;
}

@media screen and (max-width: 860px) {
  .country {
    max-width: 502px;
  }

  .country__content {
    width: 100%;
  }

  .country__stats {
    width: 100%;
    overflow: hidden;
    margin-top: 0;
  }
}

@media screen and (max-width: 550px) {
  .country {
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}

@media screen and (max-width: 480px) {
  .country__header-text {
    font-size: 24px;
    line-height: 31px;
  }

  .country__content > p {
    font-size: 18px;
    line-height: 28px;
  }
}
